.footer {
    background: #232136;
    color: #FFF;
    padding: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer ul li {
    display: inline-block;
    margin-right: 32px;
}

.footer ul li:last-child {
    margin-right: 0;
}


@media (max-width: 815px) {
    .footer {
        display: block;
        justify-content: center;
        text-align: center;
    }

    section h3 {
        padding-left: 16px;
    }
}

@media (max-width: 360px) {
    .footer section {
        display: inline-block;
    }

    .footer ul li {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}